.hobby-list {
  list-style-type: none;
}

.hobby-item {
  padding: 10px;
  overflow: auto;
}

.hobby-item:hover {
  transition: 0.3s;
  background: #000101;
  color: #fff;
  cursor: pointer;
}

.hobby-item img {
  width: 50%;
  float: left;
  margin: 0 15px 0 0;
}
