@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  background-color: #2b354b;
  color: #fff;
}

nav {
  margin: 50px;
  text-align: center;
  font-weight: bold;
}

nav a {
  margin-right: 10px;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  transition: 0.3s;
  color: #f37e47;
}

h1 {
  text-align: center;
}

#prophilephoto {
  text-align: center;
}

#rodrigosantos {
  width: 50%;
  height: 50%;
}

.biography {
  margin-left: 20%;
  margin-right: 20%;
}

button {
  width: 100%;
  height: 50px;
  background-color: #f37e47;
  color: white;
  border: none;
  border-radius: 10px;
}

button:hover {
  transition: 0.3s;
  background-color: white;
  color: #f37e47;
  cursor: pointer;
}

footer > * {
  text-align: center;
}

table,
th,
td {
  border: 1px solid black;
  text-align: center;
  margin: auto;
}

#biografia {
  font-size: 18px;
  line-height: 1.5;
}

#logo {
  text-align: center;
}

#hobbies {
  font-size: 120%;
}
