@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

/*---------------------------------------
      GENERAL              
  -----------------------------------------*/
body {
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
  line-height: 1.5;
  background-color: #2b354b;
  color: #fff;
}

nav {
  margin: 50px;
  text-align: center;
  font-weight: bold;
}

nav a {
  margin-right: 10px;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  transition: 0.3s;
  color: #f37e47;
}

h1 {
  text-align: center;
}

button {
  width: 100%;
  height: 50px;
  background-color: #f37e47;
  color: white;
  border: none;
  border-radius: 10px;
}

button:hover {
  transition: 0.3s;
  background-color: white;
  color: #f37e47;
  cursor: pointer;
}

footer > * {
  text-align: center;
}

table,
th,
td {
  border: 1px solid black;
  text-align: center;
  margin: auto;
}

/*---------------------------------------
      BIOGRAPHY              
  -----------------------------------------*/
#profilephoto {
  text-align: center;
}

#rodrigosantos {
  width: 50%;
  height: 50%;
}

.biography {
  margin-left: 20%;
  margin-right: 20%;
}

#logo {
  text-align: center;
}

/*---------------------------------------
      EDUCATION              
  -----------------------------------------*/
.education {
  margin-left: 20%;
  margin-right: 20%;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-template-areas: "epm ips";
  padding: 10px;
}

#epm {
  grid-area: epm;
}

#ips {
  grid-area: ips;
}

.card > img {
  width: 30%;
}

.card-content {
  padding: 2px 16px;
}

/*---------------------------------------
      PORTFOLIO              
  -----------------------------------------*/

.portfolio {
  margin-left: 20%;
  margin-right: 20%;
}

.portfolio-list {
  list-style-type: none;
}

.portfolio-item {
  padding: 10px;
  overflow: auto;
}

.portfolio-item:hover {
  background: #f37e47;
  cursor: pointer;
}

.portfolio-item img {
  width: 50%;
  float: left;
  margin: 0 15px 0 0;
}

/*---------------------------------------
      PHOTO HOBBY              
  -----------------------------------------*/

.pa-gallery-player-widget {
  width: 100%;
  height: 480px;
  display: none;
}
