@import "../../app/global.css";

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

#About img {
    width: 20vw;
}

.text-block {
    margin-left: 30px;
    text-align: justify;
    font-size: var(--textSize);
    line-height: 1.5;
}

@media screen and (max-width: 500px) {
    .wrapper {
        display: block;
    }
}