@import '../../app/global.css';

.card {
    background-color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.card img {
    max-width: 100%;
    border-radius: 8px;
}

.card h2 {
    color: var(--background);
    margin: 10px 0;
}

.card p {
    color: var(--background);
}

.card:hover {
    cursor: pointer;
}