.card {
    background-color: #f4f4f4;
    border: 1px solid #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.card img {
    border-radius: 8px;
}

.card h2 {
    color: #000;
    margin: 10px 0;
}

.card p {
    color: #000;
}

.card:hover {
    cursor: pointer;
}