* {
  margin: 0;
  padding: 0;
  color: #f4f4f4;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000;
}

h1 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 30px;
}

h2 {
  font-size: 1.3rem;
}

section {
  padding: 30px;
}

.CookieConsent div {
  color: #000;
}