@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono&display=swap');

:root {
  --background: #000000;
  --primary: #f4f4f4;
  --textSize: 1.1rem;
  --headingSize: 1.5rem;
  --subheadingSize: 1.3rem;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Sometype Mono', sans-serif;
  color: var(--primary);
}

body {
  background-color: var(--background);
}

h1 {
  text-align: center;
  font-size: var(--headingSize);
  margin-bottom: 30px;
}

h2 {
  font-size: var(--subheadingSize);
}

section {
  padding: 30px;
}