.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    font-size: 1.1rem;
}

.navbar img {
    padding-top: 15px;
    /* width: 5vw; */
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-item a {
    padding: 0px 15px 10px 15px;
    text-decoration: none;
    color: #f4f4f4;
    position: relative;
}

.nav-item a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #f4f4f4;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav-item a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.logo {
    text-decoration: none;
    color: #f4f4f4;
    padding-left: 15px;
}