@import "../../app/global.css";

.timeline {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin-bottom: 15px;
}

.timeline-content {
    background-color: var(--background);
    border: 1px solid var(--primary);
    padding: 10px;
    border-radius: 10px;
    max-width: 300px;
}

.timeline-content:hover {
    cursor: pointer;
}

.active-tl,
.active-tl h2 {
    background-color: var(--primary);
    color: var(--background);
}

.job-description {
    clear: both;
    text-align: center;
    border: 1px solid var(--primary);
    border-radius: 10px;
    width: 40%;
    padding: 15px 30px;
    margin: auto;
}

.job-description ul {
    text-align: justify;
    line-height: 1.5;
}

.job-separator {
    margin: 15px 0;
}

.connector {
    flex-grow: 1;
    border-color: var(--primary);
}

@media screen and (max-width: 500px) {
    .job-description {
        width: 100%;
    }
}