@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap');

* {
  margin: 0;
  padding: 0;
  color: #f4f4f4;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000;
  font-family: 'Sometype Mono', monospace;
}

h1 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 30px;
}

h2 {
  font-size: 1.3rem;
}

section {
  padding: 30px;
}

.CookieConsent div {
  color: #000;
}

.privacy-policy {
  padding: 30px;
  line-height: 1.5;
}

.privacy-policy h2 {
  margin-top: 30px;
  margin-bottom: 10px;
}